<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WINotify.Properties.Settings.CLARIFYDWConnectionString"
            connectionString="Data Source=CHS-BBECDB\MSSQL2008R2;Initial Catalog=CLARIFYDW;Persist Security Info=True;Integrated Security=SSPI;connection timeout=60"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
